.thumbnails img {
    height: 80px;
    border: 4px solid #555;
    padding: 1px;
    margin: 0 10px 10px 0;
}

.thumbnails img:hover {
    border: 4px solid #00ccff;
    cursor:pointer;
}

.preview img {
    border: 4px solid #444;
    padding: 1px;
    width: 800px;
}

section#contact {
    background-image: url('../img/backgroundcontact.jpg');
    background-position: bottom;
}

section#contact .contactHeader {
    color: black;
    position: relative;

}

section#contact .contactHeader:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(255, 255, 255, 0.50);
    display: block;
}

.languageButton {
    height: 22px;
    min-height: 22px;
}